
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #263350;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  margin: 0;
  
}

.logo{
  margin: 0px;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


#navbar a:hover {
  background-color: rgb(133, 171, 228);
  color: black;
}

#navbar-right {
  float: right;
}

#icons{
  margin: 50px;
}

@media screen and (max-width: 380px) {
  #navbar {
    padding: 10px 5px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}


.social-media {
    height: 50px;
    background-color: #06254b;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-facebook {
  background: #4634ad;
  color: white;
}

.fa-twitter {
  background: #007bb5;
  color: white;
}
#social-logos {
  height: 50px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin-left: 50px;
  margin-bottom: 0px;
  text-align: center;
  float: right;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 85%;
  box-shadow: 8px 5px 9px 3px rgb(117, 109, 109);
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(29, 26, 26);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 8px 10px 20px 10px rgb(204, 195, 195);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(141, 133, 133, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.452);
  font-size: 24px;
  padding: 24px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(34, 34, 34, 0.678);
  padding: 2px 16px;
  color: white;
  margin-bottom: 50px;
  box-shadow: 8px 5px 9px 3px rgb(117, 109, 109);
}
.textcontainer {
  background-color: rgba(0, 0, 0, 0.425);
  padding: 24px;
  color: white;
  width: 85%;
  margin-left: 7.5%;
  box-shadow: 8px 5px 9px 3px rgb(117, 109, 109);
  margin-top: 5%;
}

.main-menu-header {
  background-color: rgba(0, 0, 0, 0.425);
  padding: 24px;
  color: white;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgb(117, 109, 109);
  text-align: center;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.center {
  width: 80%;
  height: fit-content;
  margin-left: 10%;
  margin-right: 10%;  
  margin-top: 0%;
  background-color: white;

}

.organizer {
  width: 100%;
  margin-top: 0px;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
  box-shadow: 4px 4px 4px grey;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
  background-size: cover;
  box-shadow: 4px 4px 4px grey;
}
button {
  margin-top: 50%;
  margin-left: 30%;
  margin-bottom: 40%;
  padding: 20px 80px;
  background-color: rgba(244, 248, 6, 0.425);
  font-weight: bolder;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  color: white;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image:linear-gradient(rgb(55, 55, 129),rgba(109, 109, 184, 0.507),rgb(66, 66, 138));
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

.footer {
  height: 50px;
  margin-top: 50px;
  background-color: #06254b;
}

.fa-cc-visa {
  background: #145166;
  color: white;
}

.fa-credit-card {
  background: rgb(105, 65, 65);
  color: white;

}.fa-cc-paypal {
  background: #42143b;
  color: white;
}
.fa-cc-discover {
  background: #143042;
  color: white;
}
#payment-logos {
  height: 50px;
  font-size: 40px;
  width: 60px;
  text-decoration: none;
  margin-left: 50px;
  margin-bottom: 0px;
  text-align: center;
  float: right;
}
